<h1>Area Section</h1>
<p>Today's Date is: {{ date }}</p>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-body">
                    <select name="" class="form-control">
                        <option value="cirlce">Circle</option>
                        <option value="Rectange">Rectangle</option>
                    </select>
                    <hr>
                    
                    <label>Enter Length:</label>
                    <input type="text" class="form-control">

                    <label>Enter Width:</label>
                    <input type="text" class="form-control">
                    <hr>
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </div>
        </div>
    </div>
</div>